<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions to ask for the position, needed by the Maps SDK -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".RecordsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.App"
        tools:targetApi="31">

        <!-- Maps SDK API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWXBAlnvR_B7yIFTB5_xOV0XXDonQTARU" />
        <!-- Firebase per log automatici -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.workouts.MapsWorkoutSummaryActivity"/>
        <activity android:name=".fragments.maps.SaveWorkoutActivity"/>

        <!-- Required for Android 10 (API level 29) and higher. -->
        <service
            android:name=".fragments.maps.TrackWorkoutService"
            android:foregroundServiceType="location"  />
    </application>

</manifest>